<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <form class="d-flex" action="/artist-search" method="GET">
      <input class="form-control me-2" type="search" placeholder="Artist Name" aria-label="Search" name="artist-name">
      <button class="btn btn-outline-success bg-dark" >Search</button>
    </form>
  </div>
</nav>