<div class="main-page">
    <img src="{{bgImg}}" alt="Concert Image">
    <form action="/artist-search", method="GET">
        <input type="text" name="artist-name" id="search-bar" placeholder="Enter Artist name">
        <button>Search for an Artist</button>
    </form>
</div>